{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.0-alpha3"}
        astar-search/astar-search {:mvn/version "0.2"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}}}
